.container-order{
    position: absolute;
    margin: 20px 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
    .container-order .title-container{
        color: black;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .container-order .body-status{


        left: 0;
        right: 0;
        top: 34px;
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 95%;
        position: absolute;

    }

        .container-order .body-status .container-status{

            display: table-cell;
            height: 100%;
            vertical-align: top;
            position: relative;
            width: 60%;
        }
        .container-order .body-status .detail-card{
            height: 100%;
            width: 96%;
            vertical-align: top;
            position: relative;
            display: none;
            background-color: #fff;
            border-radius: 3px;
            margin: 0 1%;
            box-shadow: 0 1px 0 rgba(9,30,66,.25);
            border:1px solid #dddddd;
        }

        .detail-card .detail-title{
            height: 20px;
            padding: 10px;
            border-bottom: 1px solid #bfbfbf;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        .detail-card .brand
        {
            font-weight: bold;
        }
        .detail-card .detail-btn-close
        {
            color: #707070;
            cursor: pointer;
            border: none;
            background-color: #fff;
            font-weight: bold;
            font-family: cursive !important;
        }
        .detail-card .body-detail{
            padding: 20px 20px;
            overflow: auto;
            top: 42px;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
        .body-detail .group-detail
        {
            display: block;
            margin-bottom: 10px;
        }
        .body-detail .group-detail > label{
            font-weight: bold;
            color: #333333;
        }
        .body-detail .group-detail > div{
            margin-left: 80px;
            margin-top: 10px;

        }
        .body-detail .group-detail .tbl-detail{
            border-collapse: collapse;
            margin-top: 10px;
            width: 100%;}
        .detail-card .body-detail .group-detail .tbl-detail th{
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            padding: 5px 5px;
        }
        .detail-card .body-detail .group-detail .tbl-detail td{
            padding: 5px 5px;
        }
       /* .detail-card .body-detail .group-detail .tbl-detail tr:nth-child(even)
        {
            background-color: #f2f2f2;
        }*/
        .detail-card .body-detail .group-detail .tbl-detail .tong{
            border-top: 1px solid #ddd;
            background-color: #fff !important;
            font-weight: bold;
        }
/* width */
.detail-card ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.detail-card ::-webkit-scrollbar-track {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff
}

/* Handle */
.detail-card::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
}