.menu-setting{
    position: absolute;
    background-color: white;
    padding: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
}
.content-set{
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
    height: 100%;
    position: absolute;
}
.header-setting{
    height: 15%;
    padding: 2rem;
}
.add-new-restaurant{
    border: none;
    border-radius: 3px;
    background-color: #66b3ff;
    color: white;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.add-new-restaurant:hover{
    background-color:  #0080ff;
}
.content-setting{
    padding: 2rem;
    position: relative;
}
.block-table{
    position: absolute;
    height: 300px;
    width: 94%;
    overflow: auto;
}
.table-setting{
    border-collapse: collapse;
    width: 100%;
}
.table-setting th{
    position: sticky;
    text-align: left;
    top:-1px;
    height: 40px;
    background-color: white;
}
.table-setting tr{
    height: 40px;
}
    .table-setting tr:nth-child(even){
        background-color: #f4f7fe;
    }
