.header-setting{
    height: 100px;
    padding: 1rem;
}
.add-new-restaurant{
    border: none;
    border-radius: 3px;
    background-color: #0080ff;
    color: white;
    height: 40px;
    font-size: 15px;
}
.content-setting{
    padding: 1rem;
}
.table-setting{
    border-collapse: collapse;
    width: 80%;
}
.table-setting th{
    text-align: left;
    top:-1px;

}