.doing{
    position: absolute;
    width: 330px;
    left: 338px;
    top: 0;
    height: 540px;
    bottom: 0;
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;
    margin-left: 5px;
}