.container-order .doing{
    width: calc(94%/3);
    background-color: #f4f7fe;
    margin: 0 1%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left:calc((94%/3) + 2%) ;
    right: 0;
    bottom: 0;
}
.container-order .doing .title{
    height: 20px;
    border-bottom: 2px solid #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #2692ff;
    font-weight: bold;
}
.container-order .doing .title > label{
    font-weight: bold;
}

.container-order .doing .list-card{
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
