.container-category{
    margin-top: 20px;
}
.container-category .btn{
    position: absolute;
}
.container-category .big-group{
    height: 40px;
    margin-bottom: 20px;
}
.container-category .btn .add-new{
    font-size: 15px;
    border: none;
    background-color: #007BFF;
    border-radius: 3px;
    color: #fff;
    height: 40px;
    text-align: center;
    padding: 5px 10px;

}
.container-category .btn .add-new:hover{
    cursor: pointer;
    background-color: #2692ff;
}
.container-category .tbl-category{
    margin: 10px 0px;
    max-height: 300px;
    overflow: auto;
    clear: right;
}
.container-category .tbl-category table{
    border-collapse: collapse;
    width: 100%;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}
.container-category .tbl-category td,th{
    text-align: left;
    padding: 8px;
}
.container-category .tbl-category th{
    position: sticky;
    background-color: #fff;
    top:-1px;
    height: 30px;
    font-size: 15px;
}
.container-category .tbl-category td{
    font-size: 14px;
}
.container-category .tbl-category tr:nth-child(odd)
{
    background-color: #f4f7fe;
}
.container-category .title-del{

}
.container-category .btn-delete:hover{
    cursor: pointer;
}
.container-category .title-edit{
}
.container-category .btn-edit:hover{
    cursor: pointer;
}


/*
.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background:rgba(0,0,0,0.3) !important; ;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}
.react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 325px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 5px !important;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #24292e !important;
    font-size: 15px !important;
}
.react-confirm-alert-button-group > button {
    outline: none;
    background: #2692ff !important;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 15px !important;
    cursor: pointer;
    height: 30px;
}
.react-confirm-alert-button-group {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}*/
