.container-category{
    margin-top: 20px;
}
.container-category .btn{
    margin-bottom: 10px;
    height: 60px;
    position: absolute;
}
.container-category .btn .add-new{
    font-size: 15px;
    border: none;
    background-color: #007BFF;
    border-radius: 3px;
    color: #fff;
    height: 40px;
    text-align: center;
    padding: 5px 10px;

}
.container-category .btn .add-new:hover{
    cursor: pointer;
    background-color: #2692ff;
}
.container-category .tbl-category{
    margin: 10px 0px;
    max-height: 300px;
    overflow: auto;
    clear: right;
}
.container-category .tbl-category table{
    border-collapse: collapse;
    width: 100%;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}
.container-category .tbl-category td,th{
    text-align: left;
    padding: 8px;
}
.container-category .tbl-category th{
    position: sticky;
    background-color: #fff;
    top:-1px;
    height: 30px;
    font-size: 15px;
}
.container-category .tbl-category td{
    font-size: 14px;
}
.container-category .tbl-category tr:nth-child(odd)
{
    background-color: #f4f7fe;
}
.container-category .title-del{

}
.container-category .btn-delete:hover{
    cursor: pointer;
}
.container-category .title-edit{
}
.container-category .btn-edit:hover{
    cursor: pointer;
}


