.container-card{
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    border-radius: 3px;
    margin: 20px 10px;
    padding: 10px 15px;
    border: 1px solid #fff;
    overflow: hidden;
}
.container-card:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.container-card .header-card{
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #2692ff;
    height: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.container-card .header-card .number-table{
    font-weight: bold;
}
.container-card .header-card .date-order{
    font-style: italic;
    color: #a6a6a6;
}
.container-card .content-card ul li {
    word-wrap: break-word;
    margin-bottom: 5px;
}
