.container-card{
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    border-radius: 3px;
    margin: 20px 10px;
    padding: 10px 15px;
    border: 1px solid #fff;
    overflow: hidden;
}
.container-card:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.container-card .header-card{
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #2692ff;
    min-height: 25px;
    display: block;
    padding: 5px 5px;
}
.container-card .header-card .number-table{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 5px;
}
.container-card .header-card .date-order{
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    color: #a6a6a6;
    font-size: 14px !important;
}
.container-card .content-card ol{
    padding-inline-start: 20px !important;
}
.container-card .content-card ol li {
    padding: 0px 10px;
    margin-bottom: 5px;
}
