.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 9999;
}
.modal{
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    min-height: 350px;
    margin: 0 auto;
    position: relative;

}
.header-modal {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.button-x {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    border: none;
    background-color:#fff;
    cursor: pointer;
    padding-top: 25px;
    border-radius: 3px;
    font-family: inherit;
    color: gray;
    font-weight: 600;
    font-size: 20px;
}
.footer-modal{
    border-top: 1px solid #dee2e6;
    padding: 1rem;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: flex-end;
    display: flex;

}
.content-modal{
    top:90px;
    left: 0;
    right: 0;
    padding: 1rem;
    position: absolute;
}
.btn-modal{
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 60px;
    cursor: pointer;
}
    .btn-modal.cancel{
        background-color: #fff;
    }
    .btn-modal.cancel:hover{
        background-color: #dddddd;
    }
    .btn-modal.add{
        margin-left: 5px;
        background-color: #66b3ff;
    }
    .btn-modal.add:hover{
        background-color:  #0080ff;

    }

    /*modal group*/
.modal-group{
    margin: 10px 15px;

}
    .modal-group label{
        float: left;
        width: 150px;
        margin: 10px 10px;
    }
    .modal-group input{
        border-radius: 3px;
        border: 1px solid gray;
        height: 30px;
        padding: 5px;
        width: 250px;

    }