.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 9999;
}
.modal{
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    margin: 100px auto;
    position: relative;

}

/*HEADER MODAL*/
.modal-header {
    height: 65px;
    border-bottom: 1px solid #bfbfbf;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
    .modal-header .modal-title{
        margin: 19px 25px;
    }
    .modal-header .btn-close{
        border: none;
        background-color:#fff;
        cursor: pointer;
        padding: 19px 20px;
        border-radius: 3px;
        font-family: inherit;
        color: #bfbfbf;
        font-weight: 600;
        font-size: 20px;
    }
        .modal-header .btn-close:hover{
            color: #212529;
        }

/*CONTENT*/


.modal-content{
    min-height: 110px;
    margin: 10px 20px;
}
/*modal group*/
.modal-group{
    height: 50px;
    margin-top: 10px;
}
.modal-group label{
    float: left;
    width: 150px;
    margin: 15px 0px;
}
.modal-group input{
    border-radius: 3px;
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
    width: 260px;
    float: right;
    margin-top: 7px;
    border: 1px solid #007BFF;
}


/*HELP MODAL*/
.modal-help{
    height: 30px;

}
    .modal-help .group-link{
        justify-content: flex-end;
        display: flex;
        margin: 0px 20px;
    }
    .modal-help .group-link .link-help{
        text-decoration: none;
        color: #007BFF;
        font-size: 14px;
    }
    .modal-help .group-link .link-help:hover{
        text-decoration: underline;
    }
    .modal-help .group-link .btn-forgetpass{
        cursor: pointer;
        border: none;
        background-color: white;
        color: #007BFF;
    }
    .modal-help .group-link .btn-forgetpass:hover{
        text-decoration: underline;
    }


/*FOOTER MODAL*/
.modal-footer{
    height: 65px;
    border-top: 1px solid #bfbfbf;
    justify-content: flex-end;
    display: flex;
}
.footer-group{
    margin: 18px 20px;
}
.btn-modal{
    border: none;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
}



