/*HEADER*/
.header{
    width: 100%;
    height: 10%;
    position: absolute;
    border-bottom: 1px solid #bfbfbf;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.header .header-left{
    display: flex;
    justify-content: flex-start;
}
.header .header-left .btn-dashboard{
    border: none;
    background-color: white;
    font-size: 15px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    margin-left:10px;
}
.header .header-left .btn-dashboard:hover{
    color: #282c34;
}
.header .header-right{
    margin-top: 1.5%;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.menubar{
    width: 20%;
    left: 0;
    bottom: 0;
    top:10%;
    position: absolute;
    border-right:1px solid #bfbfbf ;
    background-color: #f4f7fe;
}
.content{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 85%;
    right: 0;
    bottom: 0;
}