.container-total{
    margin-top: 9px;
    position: relative;
}

.container-total .btn label{
    margin-right: 5px;
    font-size: 14px;
}
.container-total .body{
    margin: 10px 0;
    min-height: 300px;
}