.register{
    margin: 30px 30px;
}
.form-register{
    box-sizing: border-box;
    width: 370px;
    margin: 23px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
}
.register-title{
    box-sizing: border-box;
    padding: 23px 30px;
    height: 100px;
    width: 100%;
    font-size: 35px;
    background: #18aa8d;
    color: white;
    line-height: 150%;
    border-radius: 3px 3px 0 0;
}
.label-form-register{
    color: #737373;
    font-size: 19px;
    margin: 20px 30px;
}
.form-group{
    margin-bottom:25px ;
}
.input-register {
    margin: 5px 30px;
    width: 312px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -312px 0;
    background-size: 312px 100%;
    background-repeat: no-repeat;
    font-size: 15px;
}
.input-register:focus, .input-register:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.input-register:focus::-webkit-input-placeholder, .input-register:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important;
}

.submit-register {
    font-size: 15px;
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

}
.submit-register:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.link-login{
    /* justify-content: flex-end; */
    display: flex;
    /* width: -webkit-fill-available; */
    text-decoration: none;
    cursor: pointer;
    margin-left: 206px;
}
.lin:hover
{
    color: #2692ff;
    text-decoration: underline;
}
