.employee{
    margin: 20px;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.header-content{
    top:0;
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
}
    .add-new-employee{
        border: none;
        border-radius: 3px;
        background-color: #172b4d;
        color: white;
        height: 40px;
        font-size: 15px;
    }
.main-content {
    position: absolute;
    left: 0;
    right: 10px;
    top: 100px;
    bottom: 0px;
    overflow: auto;
}
.table-content {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 15px;
}
th{
    height: 40px;
    position: sticky;
    top:-1px;
    background-color: #172b4d;
    color: white;
}

tr:nth-child(even) {

    background-color: #dddddd;
}



