.header-login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;

}
.content-login{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0px;
    height: 500px;

}
.footer-login{
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    height: calc(100% - 500px - 200px);

}

/*login card*/
.login-card{
    margin: auto;
    width: 400px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
}
.login-card .login-card-header{
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);

}
.login-card .login-card-header .login-title{
    font-family: arial;
    font-weight: 500;
    font-size: 24px;

}
.login-card .login-card-body{
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.login-card .login-card-body .row{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.login-card .login-card-body .form-group{
    margin-bottom: 1rem;
}
.login-card .login-card-body .login-form-label{
    padding: 16px 10px 10px 20px;
    font-family: Arial;
    margin-right: 15px;
    width: 70px;
    font-size: 14px;
}
.login-card .login-card-body .col-md{
    margin: 5px 5px 5px 5px;
}
.login-card .login-card-body .col-md .form-control{
    height: 27px;
    width: 235px;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #2692ff;
    background-color: rgb(232, 240, 254) !important;

}
.login-card .login-card-body .login-help{
    justify-content: flex-end;
    display: flex;
}
.forgetpassword{
    padding-left: 10px;
}
.login-card .login-card-body .login-help a{
    text-decoration: none;
    font-size: 15px;
}

.login-card-footer{
    justify-content: flex-end;
    display: flex;
    padding: 1rem;
}
.button-submit-form{
    background-color: #2692ff;
    border-radius: 3px;
    border: none;
    height: 32px;
    width: 62px;
    color: white;
}