.btn-modal.add{
    margin-left: 5px;
    background-color: #80ccff;
}
.btn-modal.add:hover {
    background-color: #007BFF;
}
.btn-modal.cancel{
    background-color: #fff;
}
.btn-modal.cancel:hover{
    background-color: #dddddd;
}

.btn-forgetpass.space{
    margin-left: 10px;
}

.btn-login{
    border: none;
    background-color: white;
    font-size: 15px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}
    .btn-login:hover{
        color: #282c34;
    }