.btn-modal.add{
    margin-left: 5px;
    background-color: #8cd98c;
}
.btn-modal.add:hover {
    background-color: #339933;
}
.btn-modal.cancel{
    background-color: #fff;
}
.btn-modal.cancel:hover{
    background-color: #dddddd;
}

.link-help.space{
    margin-left: 10px;
}