.done{
    left: 680px;
    width: 330px;
    top:0;
    bottom: 0;
    height: 540px;
    position: absolute;
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;

}